<div class="mb-3">
  <label class="form-label">Tên sản phẩm</label>
  <input
    name="name"
    type="text"
    class="form-control"
    value="{{product.name}}"
    required
  />
</div>
<div class="mb-3">
  <label class="form-label">Số lượng</label>
  <input
    name="quantity"
    type="number"
    class="form-control"
    value="{{product.price}}"
  />
</div>
<div class="mb-3">
  <label class="form-label">Giá</label>
  <input
    name="price"
    type="number"
    class="form-control"
    min="0"
    value="{{product.quantity}}"
  />
</div>