<div class="container">
  <div class="row p-5">

    {{! Card }}
    <div class="card mx-auto justify-content-center" style="width:500px">
      {{! Content }}
      <div class="card-body">
        <h4 class="card-title">Tên sản phẩm: {{product.name}}</h4>
        <p class="card-text">Giá: {{product.price}}</p>
        <p class="card-text">Số lượng: {{product.quantity}}</p>
        <a href="/sanpham/list" class="btn btn-primary">Back</a>
      </div>
    </div>

  </div>
</div>